DATABASE_URL="postgresql://user:password@localhost:5432/nbr_auth?schema=public"

BETTER_AUTH_SECRET="generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

ADMIN_EMAIL="admin@example.com"

PORT=3000
